.cards{
    color: rgb(255, 255, 255);
    background-color: #222f50;
    border-radius: 15px;
    margin-top: 10px;
}

.cardsText{
    margin-left: 10px;
    font-size: medium;
}

.result{
    color: greenyellow;
}